beautifulsoup4==4.9.3
bs4==0.0.1
joblib==1.0.1
numpy==1.20.2
pandas==1.2.4
python-dateutil==2.8.1
pytz==2021.1
scikit-learn==0.24.1
scipy==1.6.2
six==1.15.0
sklearn==0.0
soupsieve==2.2.1
threadpoolctl==2.1.0
-e git+https://github.com/dmlc/xgboost@d31a57cf5f9f501a2f04ccb2f34e4cf985dd6c3f#egg=xgboost&subdirectory=python-package